<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/destinations.css" />
    <title>Destinations</title>
  </head>
  <body>
    <%-include('includes/header')%> <%-include('includes/aside')%>
    <main>
      <h1><%=destination.name%></h1>
      <p><%=destination.country%></p>
      <p><%=destination.sights%></p>
      <p><%=destination.descriptions%></p>
    </main>

    <script src="/script.js"></script>
  </body>
</html>
