<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/destinations.css" />
    <title>Destinations</title>
  </head>
  <body>
    <header id="main-header">
      <div id="logo"><a href="/">Travel Goals</a></div>
      <nav>
        <ul>
          <li class="nav-item">
            <a href="/destinations">Browse Destinations</a>
          </li>
          <li class="nav-item">
            <a href="/recommend">Add new destination</a>
          </li>
          <li class="nav-item"><a href="/about">About</a></li>
        </ul>
      </nav>
      <button id="burger-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>
    <aside id="mobile-nav">
      <nav>
        <ul>
          <li class="nav-item">
            <a href="/destinations">Browse Destinations</a>
          </li>
          <li class="nav-item">
            <a href="/recommend">Add new destination</a>
          </li>
          <li class="nav-item"><a href="/about">About</a></li>
        </ul>
      </nav>
    </aside>
    <main>
      <% if (numOfDestinations===0){%>
      <p>
        Unfortunately, we have no destinations yet - maybe start recommending
        some?
      </p>
      <% } else { %>
      <h1>Best destinations to visit:</h1>
      <p>There are <%=numOfDestinations%> destinations</p>
      <ul id="destinations-list">
        <% for(const destination of destinations){%>
        <li class="destination-item">
          <article>
            <h2><%=destination.name%></h2>
            <div class="destination-data">
              <p><%=destination.coutry%></p>
            </div>
            <p><%=destination.sights%></p>
            <p><%=destination.description%></p>
          </article>
        </li>
        <%}%>
      </ul>
      <%}%>
    </main>
    <script src="script.js"></script>
  </body>
</html>
